.hero {
  height: 850px;
  position: relative;
  @media (min-height: 1000px) {
    height: 100vh;
  }
  @media (max-width: 575px) {
    height: 90vh;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    @media (max-width: 575px) {
      text-align: center;
    }
    .main-wrapper {
      width: 100%;
      max-width: 1000px;
      h1 {
        color: $white;
        font-weight: 600;
        color: #eee;
        @media (max-width: 575px) {
          font-size: 30px;
        }
      }
      .tagline {
        color: #eee;
        font-size: 26px;
        font-weight: 400;
        margin: 20px 0;
        @media (max-width: 575px) {
          font-size: 20px;
        }
      }
      .actions {
        display: flex;
        margin-top: 40px;
        @media (max-width: 575px) {
          justify-content: center;
        }
        .contact-btn {
          margin-right: 30px;
          a {
            background-color: $red;
            color: #eee;
            padding: 8px 20px;
            transition: 0.3s ease;
            border: 2px solid transparent;
            font-size: 20px;
            font-weight: 600;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .about-btn {
          a {
            background-color: $black;
            color: #eee;
            padding: 8px 20px;
            transition: 0.3s ease;
            border: 2px solid transparent;
            font-size: 20px;
            font-weight: 600;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
