// Global Styles

body.fixed {
  overflow: hidden;
}

body {
  background-color: #eee !important;
}

* {
  font-family: "Avenir Next", -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Roboto", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}

html {
  box-sizing: border-box;
  font-size: 17px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #000;
}

*::selection {
  background-color: rgba(231, 48, 28, 0.7);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.small-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1 0 auto;
  }
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}

.error-404 {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .link {
    margin-top: 25px;
    a {
      background-color: #000;
      color: #fff;
      padding: 8px 30px;
      transition: 0.3s ease;
      font-weight: 600;
      text-decoration: none;
    }
    @media (max-width: 991px) {
      margin-bottom: 25px;
    }
  }
}

// SCSS Variables
@import "../styles/variables.scss";

// Component Styles
@import "../components/Header/Header.scss";
@import "../components/Footer/Footer.scss";
@import "../components/Hero/Hero.scss";
@import "../components/LetsWorkTogether/LetsWorkTogether.scss";
@import "../components/Testimonials/Testimonials.scss";

// Page Styles
@import "../pages/styles/about.scss";
@import "../pages/styles/projects.scss";
@import "../pages/styles/contact.scss";
@import "../pages/styles/blog.scss";

// Template Styles
@import "../templates/styles/blog-template.scss";
