.single-blog-container {
  margin: 80px 0;
  @media (max-width: 991px) {
    margin: 40px 0;
  }
  .date {
    font-size: 14px;
    display: block;
    margin-bottom: 25px;
    font-weight: 400;
  }
  h3 {
    font-weight: 600;
    margin-top: 25px;
  }
  strong {
    font-weight: 600;
  }
  h1 {
    font-weight: 600;
    position: relative;
    @media (max-width: 575px) {
      font-size: 1.75rem;
    }
  }
  pre {
    padding: 15px;
  }
  p {
    a {
      color: $red;
      border-bottom: 2px solid $red;
      text-decoration: none;
    }
  }
  blockquote {
    font-style: italic;
  }
  ul {
    margin-left: 40px;
    li {
      list-style: outside;
      a {
        color: $red;
        border-bottom: 2px solid $red;
        text-decoration: none;
      }
    }
  }
  .top-back-btn {
    margin-bottom: 40px;
    a {
      color: $black;
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s ease;
      span {
        margin-right: 10px;
      }
      &:hover {
        color: $red;
      }
    }
  }
  .bottom-back-btn {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    a {
      color: $black;
      text-decoration: none;
      font-weight: 600;
      transition: 0.3s ease;
      .left-arrow {
        margin-right: 10px;
      }
      .right-arrow {
        margin-left: 10px;
      }

      &:hover {
        color: $red;
      }
    }
  }
}
